<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<ul *ngIf="!messageList"class="users"> 
    <li  *ngFor="let oneUser of users" (click)="onSelect(oneUser)">
        {{oneUser.username}}
    </li>
</ul>
<ul *ngIf="messageList"class="users"> 
  <li  *ngFor="let message of allMessages">
    {{message}}
</li>
</ul>
<!-- 
<div *ngIf="selectedUser" class="selected">
  <h2>Send Message</h2>
  <div><span>to: </span>{{selectedUser.username}}</div>
  <div>
    <label>message content:
      <div>
      <input [(ngModel)]="message" placeholder="message content" />
      <button (click)="send()">Send</button>
    </div>
    </label>
  </div>
</div> -->
