<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="assets/images/bee.png" alt="image" width="70px" height="70px">
    <span class="span">BuzzR</span>
    <span class="example-spacer"></span>
    <mat-icon  matTooltip="Send message to all users" class="example-icon" aria-hidden="false" aria-label="Example broadcast icon" (click)="openDialog()">contactless</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example message icon">mail_outline</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example users icon">people_outline</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example users icon">person_outline</mat-icon>
    <mat-icon  matTooltip="Logout" class="example-icon" aria-hidden="false" aria-label="Example logout icon" (click)="logout()">no_meeting_room</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
